.errorForm {
  background-color: #fdd1d1;
}

.section-newForm {
  margin: auto;
  @apply bg-teal-dark w-full text-white;
}

.formNew {
  display: grid;
  gap: 20px;
  padding: 20px 0;
}

.inputForm {
  background-color: white;
  opacity: 20;
  @apply text-black m-0 p-2;
}
